// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html, body{
    height: 100%;
    overflow-x: hidden;
}
body{
    background: url('https://images.ctfassets.net/s5n2t79q9icq/19hIe9tIbNPrg0434R8rQn/048c79a672e1aa204024be9935debda1/Lvbwj3in898_1920x1040.png?fl=progressive') center no-repeat;
    background-size: cover;
    font-weight: 400;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
    &:hover{
        color: $hover-color;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}
}
h3{
    font-weight: 600;
}
